<li>
  <div class="groupchat-container">
    <%= link_to groupchat.topic, groupchat_path(groupchat), class: "group-name" %><br />
    <p class="group-info"><%= pluralize(groupchat.users.count, "Member") %></p>
  </div>
</li>
