$("input#groupchat_topic").val(" ")
$("#groupchat-errors").html(" ")
$("#groupchat-index").prepend("\
  <li class='mdl-list__item mdl-list__item--two-line'>\
  <span class='mdl-list__item-primary-content'>\
    <span><%= link_to groupchat.topic, groupchat_path(groupchat) %></span>\
    <span class='mdl-list__item-sub-title'><%= pluralize(groupchat.users.count, 'Member') %></span>\
  </span>\
  </li>")
