<div class="secondbody">

<div class="row col-md-8 col-md-offset-2 container" id="groupchats">
  <ul id="groupchat-index" class="mdl-list"> 
  <% if @groupchats.any? %>
      <%= render @groupchats %>
  <%else %>
  </ul>
    <p>Be the first one of your friends to make a group!</p>
  <% end %>
</div>

</div>
