<div>
  <h3><%= @groupchat.topic %></h3>

  <div class="mdl-cell--6-col mdl-cell--8-col-tablet">
    <% if @groupchat.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @groupchat.messages.where.not("content LIKE ?", "%LatitudeLongitude;%")%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
  <div class="mdl-cell--4-col mdl-cell--6-col-tablet" id="map"></div>

</div>
