
<div class="secondbody">
<div class="mdl-grid">
  <div class="jerry-box">
    <button onclick="toggleVisibility(this.id);" id="buttone" style="-webkit-appearance:none">CHAT</button>
    <button onclick="toggleVisibility(this.id)" id="butttwo" style="-webkit-appearance:none">MAP</button>
  </div>
  <div class="messages mdl-cell1 mdl-cell--4-col mdl-cell--4-col-phone" id="messages">
  <% if @groupchat.messages.any? %>
    <%= render partial: 'messages/message', collection: @groupchat.messages.where.not("content LIKE ?", "%LatitudeLongitude;%")%>
  <% end %>
  </div>
  <div class="mdl-cell--4-col">
    <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
  </div>  
  <div class="mdl-cell2 mdl-cell--8-col mdl-cell--4-col-phone" id="map">
    <button type="button" onclick="getLocation()" class="send_location">Send My Location</button>
  </div>
</div>
</div>

<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function getLocation() {
  if (navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(showPosition, error, options);
	} else {
    document.getElementById("message_content").value = "Geolocation is not supported by this browser.";
  }
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
};

function showPosition(position) {
  document.getElementById("message_content").value = "LatitudeLongitude;" + position.coords.latitude + 
    ";" + position.coords.longitude; 
  $('[data-send="message"]').click();
  $('[data-textarea="message"]').val("")
  return false;
}

function toggleVisibility(id) {
    var chat = document.getElementById('messages');
    var map = document.getElementById('map');
    var b1 = document.getElementById("buttone");
    var b2 = document.getElementById("butttwo");
    if (id === "buttone") { 
        chat.style.display = 'block';
        map.style.display = 'none';
        b1.style.color = "#FFFFFF";
        b1.style.borderBottom = "2px solid #FFFFFF"
        b2.style.color = "rgba(255,255,255,0.6)";
        b2.style.borderBottom = "0px solid #FFFFFF";
        
    } else {
        chat.style.display = 'none';
        map.style.display = 'block';
        b2.style.color = "#FFFFFF";
        b2.style.borderBottom = "2px solid #FFFFFF";
        b1.style.color = "rgba(255,255,255,0.6)";
        b1.style.borderBottom = "0px solid #FFFFFF";
    }
}
</script>
