<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
  <% if @groupchat.messages.any? %>
    <div class="messages" id="messages">
      <%= render partial: 'messages/message', collection: @groupchat.messages.where.not("content LIKE ?", "%LatitudeLongitude;%")%>
  <% else %>
    <div class="messages hidden" id="messages">
  <% end %>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
      <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone" id="map">
    <button type="button" onclick="getLocation()" class="send_location">Send My Location</button>
  </div>
</div>

<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function getLocation() {
  if (navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(showPosition, error, options);
	} else {
    document.getElementById("message_content").value = "Geolocation is not supported by this browser.";
  }
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
};

function showPosition(position) {
  document.getElementById("message_content").value = "LatitudeLongitude;" + position.coords.latitude + 
    ";" + position.coords.longitude; 
  $('[data-send="message"]').click();
  $('[data-textarea="message"]').val("")
  return false;
}
</script>
