
<div class="secondbody">
<div class="mdl-grid">
  <div class="jerry-box">
    <button onclick="toggleVisibility(this.id);" id="buttone" style="-webkit-appearance:none">CHAT</button>
    <button onclick="toggleVisibility(this.id)" id="butttwo" style="-webkit-appearance:none">MAP</button>
  </div>
  <div class="messages mdl-cell1 mdl-cell--4-col mdl-cell--4-col-phone" id="messages">
  <% if @groupchat.messages.any? %>
    <%= render partial: 'messages/message', collection: @groupchat.messages.where.not("content LIKE ?", "%LatitudeLongitude;%")%>
  <% end %>
  </div>
  <div class="mdl-cell--4-col">
    <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
  </div>  
  <div class="mdl-cell2 mdl-cell--8-col mdl-cell--4-col-phone" id="map">
  </div>
</div>
</div>

<script>
function toggleVisibility(id) {
    var chat = document.getElementById('messages');
    var map = document.getElementById('map');
    var b1 = document.getElementById("buttone");
    var b2 = document.getElementById("butttwo");
    if (id === "buttone") { 
        chat.style.display = 'block';
        map.style.display = 'none';
        b1.style.color = "#FFFFFF";
        b1.style.borderBottom = "2px solid #FFFFFF"
        b2.style.color = "rgba(255,255,255,0.6)";
        b2.style.borderBottom = "0px solid #FFFFFF";
        
    } else {
        chat.style.display = 'none';
        map.style.display = 'block';
        b2.style.color = "#FFFFFF";
        b2.style.borderBottom = "2px solid #FFFFFF";
        b1.style.color = "rgba(255,255,255,0.6)";
        b1.style.borderBottom = "0px solid #FFFFFF";
    }
}
</script>
