<h3><%= @groupchat.topic %></h3>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
    <% if @groupchat.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @groupchat.messages.where.not("content LIKE ?", "%LatitudeLongitude;%")%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>

  <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone" id="map"></div>

</div>
