<div class="demo-grid-2 mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
    <% if @groupchat.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @groupchat.messages.where.not("content LIKE ?", "%LatitudeLongitude;%")%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
    <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
  </div>
  
  <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone" id="map"></div>
</div>
