<div class="row col-md-8 col-md-offset-2">
  <h1><%= @groupchat.topic %></h1>

<div class="panel panel-default">
  <% if @groupchat.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @groupchat.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

  <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
</div>

<div id="map"></div>

<script>
// initialize the map
var map = L.map('map').setView([41.4000000, -72.1000000], 13);

// load a tile layer
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png',
  {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',,
    maxZoom: 17,
    minZoom: 9
  }).addTo(map);
</script>
