<div class="row col-md-8 col-md-offset-2">
  <h1><%= @groupchat.topic %></h1>

<div class="panel panel-default">
  <% if @groupchat.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @groupchat.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

  <%= render partial: 'messages/message_form', locals: {message: @message, groupchat: @groupchat}%>
</div>

<div id="map"></div>


  <script>

  // initialize the map
  var map = L.map('map').setView([42.35, -71.08], 13);

  // load a tile layer
  L.tileLayer('https://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>, Data by <a href="http://mass.gov/mgis">MassGIS</a>',
      maxZoom: 17,
      minZoom: 9
    }).addTo(map);

  </script>

  <style>
    #map{ height: 100% }
  </style>
