/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Roboto;
  background-color: #E0E0E0;
}

.member_label {
  color: rgba(255,255,255,0.6);
  font-size: 12px;
}
.member_list {
  margin-right: 16px;
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  line-height: 24px;
}
.group-member-format {
  margin: 8px 16px 8px 16px;
}
.member-select {
  border: none;
  background-color: #FAFAFA;
  height: 280px;
  width: 296px;
  font-size: 16px;
}

.their-name {
  clear: both;
  padding: 0;
  margin: 0 0 4px 23px;
  color: rgba(0,0,0,0.5);
  line-height: 12px;
  font-size: 12px;
  width: auto;
  max-width: 240px;
}
.their-content {
  clear: both;
  display: table;
  max-width: 240px;
  min-width: 40px;
  padding: 8px;
  margin: 0 0 12px 24px;
  color: rgba(0,0,0,0.9);
  background-color: #ECEBEB;
  border-radius: 2px;
  line-height: 20px;
  font-size: 14px;
}
.my-content {
  clear: both;
  display: table;
  float: right;
  position: relative;
  max-width: 240px;
  min-width: 40px;
  padding: 8px;
  margin: 0 24px 12px 0;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 2px;
  line-height: 20px;
  font-size: 14px;
}

.mdl-textfield__input {
  border-bottom: 2px solid rgba(0,0,0,0.12);
}

#special-label:after {
  background-color: #FAFAFA !important;
}

.mdl-textfield.is-focused #special-label {
	color: #FAFAFA;
}

#special-input {
  border-bottom: 2px solid #FAFAFA;
  color: #FFFFFF;
}

.mdl-textfield #special-label {
  color: rgba(255,255,255,0.7);
}

.nopad {
  padding-bottom: 2px;
  padding-top: 16px;
}

.depad-label:after {
    bottom: 2px;
}

.group-name-format {
  position: absolute;
  top: 28px;
  left: 16px;
}

/*flash*/
.alert-error {
	font-family: Roboto;
	font-weight: 500;
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
 }

.alert-alert {
	font-family: Roboto;
	font-weight: 500;
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
 }

.alert-success {
	font-family: Roboto;
	font-weight: 500;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
 }

.alert-notice {
	font-family: Roboto;
	font-weight: 500;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
 }

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.secondbody {
	background-color: #FAFAFA;
	width: 100vw;
	height: 100vh;
}

input {
	border-radius: 0;
	-webkit-appearance: none;
}

.shape {
	background-color: #8ABE1F;
}

.pbu_icon {
	position: absolute;
	left: 16px;
	bottom: 16px;
	height: 23px;
	width: 32px;
	float: left;
}
.back_arrow {
	position: absolute;
	left: 18px;
	bottom: 16px;
	height: 24px;
  width: 13.5px;
	float: left;
}

.add_group {
	position: absolute;
	right: 59px;
	bottom: 13px;
	max-height: 30px;
	max-width: 30px;
}

.account_icon {
	position: absolute;
	right: 19px;
	bottom: 13px;
	max-height: 30px;
	max-width: 30px;
}

.remember-me {
	color: #8ABE1F;
	font-family: Roboto;
}

.button-text {
	height: 16px;
	width: 72px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
}

.send_icon {
  position: fixed;
  right: 12px;
  bottom: 25px;
  float: right;
  background: transparent image-url("send_icon.png") 0 0 no-repeat;
  background-size: 40px;
  display: block;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.button {			
	position: absolute;
	display: inline-block;
	top: 24px;
	left: 16px;
	background-color: #8ABE1F;
	color: white;
	height: 35px;
	width: 88px;
	border: 1.5px solid #FFFFFF;
	border-radius: 2px;
	-webkit-appearance: none;
}

.fb-text {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	margin-left: 8px;
	line-height: 32px;
	color:white;
}

.forget {
	position: absolute;
	bottom: 16px;
	left: 16px;
	color: rgba(255,255,255,0.6);
	font-family: Roboto;
}

.fb-button {
	position: absolute;
	display: inline-block;
	top: 24px;
	right: 64px;
	color:white;
	background-color: #8ABE1F;
	height: 32px;
	width: 152px;
	border: 1.5px solid #FFFFFF;
	border-radius: 2px;
}

.log-in-header {
	margin-top: 32px;
	margin-bottom: 0px;
	height: 32px;
	width: auto;
	color: green;
	font-family: Roboto;
	font-size: 24px;
	line-height: 32px;
}

.line {
	box-sizing: border-box;
	border-bottom: 2px solid rgba(0, 0, 0, .12);
	width: 296px;
}

.mdl-login {
	margin-left: 16px;
	margin-right:16px;
}

#mdl-signup {
  padding-bottom: 4px;
}

.mdl-list {
	padding: 0;
	z-index: 1;
}
.hint-text {
	font-family: Roboto;
}

.groups-header {
	position:absolute;
	left: 60px;
	bottom: 18px;
	height: 16px;
	width: 197px;
	margin: 0px;
	color: #8ABE1F;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
}
.account-header {
	position:absolute;
	left: 48px;
	bottom: 20px;
	height: 16px;
	width: 197px;
	margin: 0px;
	color: #8ABE1F;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
}
.groups-show {
	position:absolute;
	left: 48px;
	bottom: 20px;
  right: 140px;
	height: 20px;
	margin: 0;
	color: #8ABE1F;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
	z-index: 1;
	top: 56px;
	bottom: 0px;
  margin-left: auto;
  margin-right: auto;
	overflow-y: auto;
}
.topnav {
	height: 56px;
	overflow: hidden;
	background-color: #FAFAFA;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
	position: fixed;
	width: 100%;
}
.topnav a, .topnav a:active {
	float: right;
	display: block;
	color: #8ABE1F;
	text-align: center;
	text-decoration: none;
	line-height: 32px;
	font-size: 14px;
}
.topnav a:hover {
	background-color: #8ABE1F;
	color: white;
}
.topnav .icon {
	display: none;
}

.log-in-nav {
	border: 1.5px solid #8ABE1F;
	border-radius: 2px;
	margin-right: 16px;
	margin-top: 12px;
	height: 32px;
	font-weight: 700;
	width: 66px;
	color: #8ABE1F;
}
p.log-in-helper {
	position:absolute;
	right: 88px;
	bottom: 12px;
	margin: 0px;
	font-size: 12px;
	font-weight: 300;
	line-height:16px;
	font-family: Roboto;
	color: rgba(0,0,0,0.87);
	height: 16px;
	width:auto;
}

#buttone {
	display:none;
}

@media screen and (max-width: 780px) {
	#map {
		display: none;
		width:100%;
		height:auto;
		top: 100px;
		padding-top: 0px;
}
	#buttone {
		display: inline;
    position: relative;
    float: left;
    padding: 0;
    -webkit-appearance: none;
    overflow: hidden;
		width: 50%;
		border: none;
		height: 40px;
		background-color: #8ABE1F;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
		color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
	}
	#butttwo {
		position: relative;
    float: right;
    padding: 0;
    -webkit-appearance: none;
		width: 50%;
		border: none;
		height: 40px;
		background-color: #8ABE1F;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
		color: #FFFFFF;
	}
  #buttone:focus { outline:0; } 
  #butttwo:focus { outline:0; } 
  .jerry-box {
    width: 100%;
    position: fixed;
    top: 56px; 
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);								
  }
  
	#messages {
		top: 100px;
    		width: 100%;
	}
}

.outer {
	position: absolute;
	bottom: 0;
	text-align:center;
  	width: 100%;
}

textarea {
  position: fixed;
  bottom: 12px;
  left: 16px;
  right: 0;
  width: 75%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  height: 48px;
  padding: 8px;
  margin: 0;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  resize: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}

.send_location {
	top:3px;
	right:3px;
	z-index: 9999 !important;
	position: relative;
	float: right;
}


.messages {
	position: fixed;
	bottom: 80px;
	top: 64px;
	width: 100%;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.mdl-grid {
	padding: 0px!important;
}

.mdl-cell1 {
	float: left;
	overflow-x: hidden;
	word-wrap: break-word;
	padding: 0!important;
	width: calc(33.3333333333%);
	overflow: auto;
	color: #424242;
	font-weight: bold;
}

.mdl-cell2 {
	bottom: 0px;
	top: 58px;
	right: 0px;
	position: absolute;
	overflow: hidden;
	color: #424242;
	font-weight: bold;
}

.login-card-bg {
	position: fixed;
	height: 350px;
	width: 328px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: #FAFAFA;
}
.login-card-top {
	position: relative;
	height: 248px;
	width: 328x;
	bottom: 0;
	background-color: #FAFAFA;
	border-radius: 1px;
}
.login-card-bot {
	position: relative;
	border-radius: 1px;
	height: 102px;
	width: 328px;
	bottom: 0;
	background-color: #8ABE1F;
}
.signup-card-bot {
	position: relative;
	border-radius: 1px;
	height: 80px;
	width: 328px;
	bottom: 0;
	background-color: #8ABE1F;
}

.groupchat-form {
  height: 488px;
  width: 328px;
  border-radius: 1px;
  background-color: #FAFAFA;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  overflow-y: hidden;
}

.upper-create {
  height: 192px;
  width: 328px;
  border-radius: 1px 1px 0 0;
  background-color: #8ABE1F;
  position: relative;
  top: 0;
}

.lower-create {
  height: 288px;
  width: 328px;
  position: absolute;
  bottom: 7;
  border-radius: 0 0 1px 1px;
}

#create-groupchat {
  display: block;
  position: fixed;
  height: 32px;
  width: 72px;
  border: 1.5px solid #8ABE1F;
  background-color: #FAFAFA;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  font-family: Roboto;
  color: #8ABE1F;
  border-radius: 2px;
  text-transform: capitalize;
  top: 12px;
  right: 16px;
}

#groupchats ul {
	margin: 0 10% 0 10%;
	list-style: none;
}

#groupchats li{
	height:52px;
	width:auto;
	display: block;
	border-radius:0px;
	position: relative;
	border-bottom:1px solid rgba(0,0,0,0.12);
	margin: 16px 16px 12px 16px;
}

#groupchats a {
	text-decoration: none;
	display: block;
}

#groupchats {
	position: fixed;
	display:inline-block;
	width:100vw;
}

.group-name {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	display: inline;
	width: 100%;
	text-overflow: ellipsis;
	height: 24px;
	color: rgba(0,0,0,0.85);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

.group-info {
	float: left;
	display: block;
	height:20px;
	width:288px;
	white-space: nowrap;
	color: rbga(0,0,0,0.5);
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
}
.group-container {
	width: 100%;
	overflow: hidden;
	z-index: 1;
	display: block;
}

@media screen and (max-width: 600px) {
	#groupchats ul {
		margin: 0px;
	}
	.group-name {
		max-width: 90%;
	}
	.group-info {
		max-width: 86.5%;
	}
}

