<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

<div class="topnav" id="myTopnav">
<% if user_signed_in? %>
  <%= link_to "Home", authenticated_root_path %>
  <%= link_to "Settings", edit_user_registration_path(current_user) %>
  <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
  <a href="return false" style="font-size:15px;" class="trigram" onclick="myFunction()"></a>
<% else %>
  <%= link_to "Log in", unauthenticated_root_path %>
<% end %>
</div>
